.fancy {
  display: inline-block;
  background: tomato;
  color: white;
  padding: 18px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}


.fancy[disabled] {
  background: grey;
}
