:root {
  --primary-color: #dee2ff;
  --secondary-color: #feeafa;
  --primary-color-dark: #8e9aaf;
}

body {
  background-image: url("cover_img.png");
  background-size: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

main {
  display: block;
  height: auto;
}

main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

p {
  display: block;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-top: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
  margin-top: 35%;
}

ul li {
  display: inline-block;
  margin-left: 15px;
}

.button {
  display: inline-block;
  position: absolute;
  left: 30%;
  width: 40%;
  margin: 50px 0;
}

form input {
  width: 49%;
  height: 30px;
}
