$background-color: #3f37c9;
$color-red: #f72585;
$color-light-blue: #edf6f9;
$color-header: #023047;
$color-grey: #d3d3d3;



body {
    background-color: $background-color;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 400;
}